@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
  font-family: "Afacad Flux", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: auto 1fr auto; /* Fixed height for header and footer, content fills remaining space */
  grid-template-areas: 
  "header  header"
  "sidebar content"
  "footer  footer";
  margin-inline: auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  margin-bottom: 20px;
}

article {
  grid-area: content;
}
aside {
  grid-area: sidebar;
  height: 100%;
}
footer {
  grid-area: footer;
}

#clients-bar {
  padding: 10px;
  background: rgba(0,0,0,0.4);

  .clients-info {

  }

  #client-list {
    display: flex;
    justify-content: center;

    .client {
      position: relative;
      width: 180px;

      img {
        border-radius: 10px;
        border: 2px solid black;
        width: 100%;
        aspect-ratio: 16/10;
        object-fit: cover;
      }

      .client-info {
        display: flex;
        align-items: center;
        gap: 8px;

        .icons {
          font-size: 14px;

          .locked {
            color: #E52B50;
          }

          .connected {
            cursor: pointer;
            padding-top: 4px;
            color: #999;
            &.online {
              color: #4FFFB0;
            }
          }
        }

        .host {
          font-size: 16px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
        }

      }
    }
  }

}


#search {
  .querybar {
    display: flex;
    margin-bottom: 16px;
  }

  .purity {
    margin-right: 20px;
  }

  .searchbar {
    display: flex; 
    gap: 6px;
  }

  #search-results {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    .wallpaper {
      width: 200px;

      img {
      border-radius: 6px;
        width: 100%;
        aspect-ratio: 16/10;
        object-fit: cover;
      }
    }
  }
}
