@import url('normalize.css');

.container {
  max-width: 1420px;
  margin-inline: auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 300px 3fr;
  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"
}

header {
  grid-area: header;
}

article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.client-list {
  padding-inline: 20px;
}

.client {
  position: relative;
}

.client .connect {
  font-size: 18px;
}

.client .online {
  color: #66FF00;
}

.client img {
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.client .client_info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  font-size: 14px;
  padding: 8px 4px;
  overflow: hidden;
}

